.App {
  text-align: center;
}

.container-h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adapte conforme necessário */
}
.h1 {
  color: #5f1478;
  font-family: Poppins,sans-serif,Segoe UI;
  margin: 0;
  padding-bottom: 10px;
  display: inline;
  position: relative;
  font-size: 20px;
  line-height: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buttonNewCard {
  background-color: #fca402; /* Laranja */
  color: #fff; /* Branco */
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  border: none;
  border-radius: 4px; /* Opcional: Adiciona bordas arredondadas */
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

/* Ajuste o estilo do hover conforme necessário */
.buttonNewCard:hover {
  background-color: #ffa630; /* Laranja mais claro no hover */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}